.dashboard {
  padding: 10px;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Khung video */
.video-screen {
  width: 100%;
  height: 520px;
  background-color: #000;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

/* Video */
.video-player {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Placeholder */
.video-placeholder {
  color: white;
  font-size: 18px;
  opacity: 0.6;
}

/* Nút upload */
.upload-btn {
  padding: 12px 30px;
  background: linear-gradient(90deg, #2f64c9, #4facfe);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
}

.upload-btn:hover {
  opacity: 0.7;
}

.dashboard .inner-wrap .video {
  padding: 10px;
  border-right: 1px solid grey;
}

.dashboard .inner-wrap .inner-title {
  margin: 8px;
}

.dashboard .inner-wrap .data {
  padding: 15px;

  border-radius: 16px;
}
