.navbar-details {
  width: 100%;
  height: 100px;
  background-color: #5c8ade;
  color: white;
  display: flex;
  align-items: center;
}

/* inner-wrap căn giữa nội dung */
.navbar-details .inner-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* 3 phần cách đều */
  padding: 0 40px;
}

/* bỏ gạch chân */
.navbar-details a {
  text-decoration: none;
  color: inherit;
}

/* title bên trái */
.navbar-details .inner-title h4 {
  margin: 0;
  font-weight: 600;
}

/* phần giữa */

/* user bên phải */
.navbar-details .inner-user {
  font-size: 18px;
  font-weight: 500;
  color: white; /* sửa lại để hiện chữ */
  cursor: pointer;
}

.logout {
  padding: 10px;
  background-color: #ef1e0b;
  border: 1px solid rgb(251, 6, 6);
  border-radius: 10px;
  color: white;
}

.logout:hover {
  background-color: white;
  border: 1px solid #e50b03;
  color: #de5c5c;
  transition: 1s ease;
}

/* Overlay */
.modal.show {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  animation: fadeIn 0.25s ease;
}

/* Center modal */
.modal-dialog {
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

/* Modal box */
.modal-content {
  border-radius: 16px;
  border: none;
  padding: 10px;

  color: black;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5);
  animation: scaleIn 0.25s ease;
  width: 100%;
  max-width: 400px;
}

/* Header */
.modal-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.modal-title1 {
  font-weight: 600;
  font-size: 18px;
}

/* Close button */
.btn-close {
  filter: invert(1);
  opacity: 0.7;
}
.btn-close:hover {
  opacity: 1;
}

/* Body */
.modal-body {
  font-size: 15px;
  color: black;
  padding: 20px 10px;
  text-align: center;
}

/* Footer */
.modal-footer {
  border-top: none;
  display: flex;
  justify-content: space-between;
}

/* Buttons */
.modal-footer .btn {
  border-radius: 10px;
  padding: 8px 16px;
  font-weight: 500;
  transition: all 0.2s ease;
}

/* Cancel button */
.modal-footer .btn-secondary {
  background: #444;
  border: none;
}
.modal-footer .btn-secondary:hover {
  background: #666;
}

/* Logout button */
.modal-footer .btn-primary {
  background: linear-gradient(135deg, #ff416c, #ff4b2b);
  border: none;
}
.modal-footer .btn-primary:hover {
  transform: translateY(-1px);
  box-shadow: 0 5px 15px rgba(255, 75, 43, 0.4);
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.custom-toast2 {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 10000;

  animation: slideIn 0.3s ease;

  &.success {
    background: #2ecc71;
  }

  &.error {
    background: #e74c3c;
  }
}
