.chatbot-container {
  height: 85vh; /* chiếm toàn bộ màn hình */
  display: flex;
  justify-content: center; /* căn giữa ngang */
  align-items: center; /* căn giữa dọc */
}

.chatbot-container img {
  width: 200px; /* chỉnh kích thước ảnh nếu muốn */
}
